{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}index{% endblock %}
{% block body %}
    <!-- About Me -->
    <div class="lonon-about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-5"> <img src="{% static 'images/resume.jpg' %}" class="img-fluid mb-15 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft" alt=""> </div>
                <div class="col-md-7 animate-box fadeInLeft animated" data-animate-effect="fadeInLeft"> <span class="heading-meta style-1">Informations</span>
                    <h3 class="lonon-about-heading">{{ user_info.name }}</h3>
                    <p>{{ user_info.remark }}</p>
                    <div class="cardvisit">
                        <h3>{{ user_info.name }}</h3>
                        <span>{{ user_info.school }}</span>
                        <div class="divider-line"></div>
                        <p><i class="ti-skype"></i> {{ user_info.website }}</p>
                        <p><i class="ti-email"></i> &nbsp;{{ user_info.mail }}</p>
                        <p><i class="ti-location-pin"></i> {{ user_info.phone }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider1"></div>
    <!-- Skills -->
    <div class="lonon-skills">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"> <span class="heading-meta style-1">Abilities</span>
                    <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">我的技能</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 animate-box" data-animate-effect="fadeInLeft">
                    <p>Skills convallis lacinia est et volutpat. Ut interdum lecis velit, ac venenatis odio fringilla ut. Mauris tincidunt diame nisi mollis rhoncus. Nam non ante consequatir, malesuada dui euismod, pharetra mi.</p>
                    <p>Sed auctor, dui sed bibendum feugiat, felis lorem pulvinar mauris vel porttitor risu nunc et risus. Aenean vehicula dictum magna non venenatis.</p>
                </div>
                <div class="col-md-7 animate-box" data-animate-effect="fadeInLeft">
                    {% for skill in skill_list %}
                        <p class="bar-title">{{ skill.program.name }}<span class="percent align-right">{{ skill.level }}</span></p>
                        <div class="bar">
                            <div class="bar-fill start" id="show"></div>
                            <script src="{% static 'js/jquery.min.js' %}"></script>
                            <script>
                                $(function () {
                                    {#alert($('#show').attr('width'))#}
                                })
                            </script>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="divider1"></div>
    <!-- Testiominals -->
    <div class="lonon-testiominal">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"> <span class="heading-meta style-1">Say About Us</span>
                    <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">Testimonials</h2> </div>
            </div>
            <div class="row">
                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="lonon-quote-card"> <img src="{% static 'images/quote.png' %}" alt="" class="lonon-quote-2">
                        <p>"Drana convallis lacinia est et volutpat. Ut interdum lecistion velit, ac venenatis odio fringi ut. Mauris tincidunt diame nisi mollis rhoncus!</p>
                        <h5><strong>Samuel Tomei</strong></h5>
                        <p class="occupation">Project Manager</p>
                    </div>
                </div>
                <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                    <div class="lonon-quote-card"> <img src="{% static 'images/quote.png' %}" alt="quote" class="lonon-quote-2">
                        <p>"Drana convallis lacinia est et volutpat. Ut interdum lecistion velit, ac venenatis odio fringi ut. Mauris tincidunt diame nisi mollis rhoncus!</p>
                        <h5>Cobie Batalon</h5>
                        <p class="occupation">RTI International</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divider1"></div>
    <!-- Clients -->
    <div class="lonon-clients">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12"> <span class="heading-meta style-1">Collaborators</span>
                    <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">Clients</h2> </div>
            </div>
            <div class="row">
                <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                    <div class="clients"> <img src="{% static 'images/clients/c1.png' %}" class="img-fluid" alt=""> </div>
                </div>
                <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                    <div class="clients"> <img src="{% static 'images/clients/c2.png' %}" class="img-fluid" alt=""> </div>
                </div>
                <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                    <div class="clients"> <img src="{% static 'images/clients/c3.png' %}" class="img-fluid" alt=""> </div>
                </div>
                <div class="col-md-3 animate-box" data-animate-effect="fadeInLeft">
                    <div class="clients"> <img src="{% static 'images/clients/c4.png' %}" class="img-fluid" alt=""> </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}