{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}portfolio{% endblock %}
{% block body %}
    <!-- Projects -->
    <div class="lonon-projects">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12"> <span class="heading-meta style-1">Take a Look at</span>
                            <h2 class="lonon-heading animate-box" data-animate-effect="fadeInLeft">我的项目</h2> </div>
                    </div>
                    <div class="row">
                        {% for project in project_list %}
                            <div class="col-md-4 animate-box" data-animate-effect="fadeInLeft">
                                <a href="{{ project.id }}" class="desc">
                                    <div class="project"> <img src="/media/{{ project.img }}" class="img-fluid" alt="">
                                        <div class="desc">
                                            <div class="con">
                                                <h3>{{ project.name }}</h3> <span>{{ project.tags }}</span> </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
{% endblock %}